.App{
  font-family:Arial,sans-serif;
  text-align: center;
  margin: 500px;
  margin-top: 10px;
  margin-bottom: 0%;
  background-color: #cad9f8;
  border-radius: 10px;
}
.form-group{
  margin-bottom: 20px;
  
}
input{
  width: 100px;
}
label{
  display:block;
  margin-bottom: 8px;
}
select,button{
  padding: 8px;
  font-size: 16px;
}
button{
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}
button:hover{
  background-color: #45a049;
}
.react-time-picker__inputGroup__input.react-time-picker__inputGroup__minute.react-time-picker__inputGroup__input--hasLeadingZero
{
  width: 100px;
}